main {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: #01aeff;
  font-family: "Anta", sans-serif;
}
h1 {
  color: black;
  font-weight: bold;
}
p {
  color: #fff;
}
button {
  padding: 16px;
  font-weight: bold;
  margin-top: 16px;
  background-color: #5dd8d8;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
